header {
  background-color: #EBF2FA;
  border-bottom: 1px solid #A3ACB4;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.row {
  padding-top: 0;
}

.nav-row {
  padding: 0.3rem;
}

.nav-item {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  color: black;
}

.nav-item:link {
  text-decoration: none;
}

.nav-bar.opened {
  height: 10rem;
}

.hidden {
  display: none;
}

h1 {
  margin: 0;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
  display: inline-block;
  font-size: 24px;
  color: #1A365E;
}

i.fa-bars {
  font-size: 30px;
  display: inline-block;
  position: absolute;
  left: 1rem;
  top: 0.75rem;
  color: #A3ACB4;
}

div.container.form {
  margin: 1rem;
}

input {
  height: 35px;
  width: 11.2rem;
  border: 1px solid black;
  outline: none;
  padding: 0.2rem;
  font-size: 16px;
}

button.search {
  height: 35px;
  width: 6.5rem;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: rgb(0, 115, 249);
  font-size: 16px;
  color: white;
}

button.search:hover {
  background-color: #1a69d9;
}

.col-card {
  height: 12rem;
  width: 100%;
}

.card {
  border: 1px solid black;
  width: 100%;
  background-color: #FAFAFA;
  box-shadow: 1px 2px 2px black;
}

.crypto-card-text {
  padding: 0.7rem 2rem 1.3rem 2rem;
  text-align: center;
}

h3 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  min-width: 260px;
  font-size: 20px;
  margin: 0;
  padding: 0.5rem;
  text-align: center;
}


span.symbol {
  font-weight: 200;
}

p.price {
 font-size: 16px;
}

i.fa-expand, i.fa-heart.main {
  color: #A3ACB4;
  font-size: 20px;
  padding: 5px;
}

i.fa-heart.main {
  position: relative;
  left: 91%;
}

.mini-card-row {
  display: flex;
  flex-wrap: wrap;
}

.mini-card {
  border: 1px solid black;
  width: 48%;
  background-color: #FAFAFA;
  box-shadow: 1px 2px 2px black;
  margin: 1%;
}

i.fa-heart.mini.shrunk {
  position: relative;
  left: 88%;
  color: #da1010;
}

.mini-card-row h4 {
  font-size: 13px;
  text-align: center;
}

.mini-card-row p {
  font-size: 11px;
  text-align: center;
}

.card-full-screen {
  position: absolute;
  height: 91.9vh;
  left: 0;
  right: 0;
  bottom: 0;
  border: none;
}

.text-full-screen {
  padding: 0;
}

.card-full-screen h3 {
  font-size: 24px;
}

.card-full-screen p.price {
  font-size: 20px;
  margin-bottom: 2rem;
}

p.price span {
  font-weight: 700;
}

p.past-price {
  font-size: 16px;
  margin: 0.6rem 0;
}

p.past-price span {
  font-weight: 700;
}

i.fa-heart.main.heart-full-screen {
  position: absolute;
  bottom: 0;
  right: 0;
}

i.fa-heart.mini.heart-full-screen {
  position: absolute;
  bottom: 1%;
  right: 1%;
  color: #da1010;
  font-size: 20px;
}

.mini-card-full-screen {
  position: absolute;
  height: 91.9vh;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:#FAFAFA;
}

.mini-card-full-screen h4 {
  font-size: 24px;
  margin: 0;
  padding: 0.5rem;
}

.mini-card-full-screen p.price {
  font-size: 20px;
  margin-bottom: 2rem;
}

.mini-card.favorites-view {
  width: 100%;
}

.spinning-wheel {
  width: 30px;
  position: relative;
  left: 50%;
  top: 50%;
}

i.fa-heart.main.favorited {
  color: #da1010;
}

@media only screen and (min-width: 768px) {
  div.col-card {
    width: 50%;
  }
  div.mini-card-row {
    width: 55%;
    margin: auto;
    display: flex;
  }
  div.mini-card.favorites-view {
    width: 70%;
    height: 10rem;
    margin-left: auto;
    margin-right: auto;
  }
  div.col.card.card-full-screen, div.mini-card-full-screen {
    height: 94.5vh;
  }
}

@media only screen and (min-width: 1024px) {
  div.col-card {
    width: 30%;
    height: 15rem;
  }
   div.col-card .card {
    height: 100%;
  }

  div.col-card .card .crypto-card-text {
    margin-top: 2rem;
  }
  div.mini-card-row {
    width: 40%;
    margin: auto;
    display: flex;
  }
  div.mini-card.favorites-view {
    width: 70%;
    height: 12rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  div.mini-card {
    height: 12rem;
    position: relative;

  }

  div.mini-card.favorites-view .fa-heart.mini.shrunk {
    position: absolute;
    left: 96%;
    bottom: 1%;
  }

  i.fa-heart.mini.shrunk {
    position: absolute;
    left: 95%;
    bottom: 1%;
  }

  div.col.card.card-full-screen, div.mini-card-full-screen {
    height: 94.5vh;
  }
  div.mini-card {
    height: 9rem;
  }
}
